<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Meet N Greet</title>
    <link rel="stylesheet" href="styles/index.css" />
    <link rel="stylesheet" href="styles/login.css" />
    <link rel="stylesheet" href="styles/cardtemplate.css" />
    <link rel="stylesheet" href="styles/input.css" />
  </head>
  <body>

      <div class="App">
        <header>

        </header>
        <div class="App-container">
          <div class="card-template">
            <div class="card-frame">
              <img src="imgs/logo_gray.png" class="alt-logo" alt=""/>
              <br/>
              <header class="card-title">Chat Room</header>
                 <h1>This is a chatroom. Welcome!</h1>
              <div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="/socket.io/socket.io.js"></script>

      <script>
          var socket = io();
    socket.on('connect', function(){
    console.log('Connected to Server')

    });
//
//           socket.on('connect', function() {
//               socket.emit('join-room', {
//                    console.log('Client has connected to the server!');
//               });
//           });


</script>
  </body>

</html>
