<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Meet N Greet</title>
    <link rel="stylesheet" href="styles/index.css" />
    <link rel="stylesheet" href="styles/login.css" />
    <link rel="stylesheet" href="styles/cardtemplate.css" />
    <link rel="stylesheet" href="styles/input.css" />
  </head>
  <body>
      <div class="App">
        <header>
        </header>
        <div class="App-container">
          <div class="card-template">
            <div class="card-frame">
              <div id="loginform">
                            <img src="imgs/logo_gray.png" class="alt-logo" alt=""/>

                             <img src={sample_profile} className="profile-picture" alt=""/>
                             <div className="useraccount">
                                 <form>
                                     <label for="name">Name</label>
                                     <input type="text"/>
                                     <label htmlFor="age">Age</label>
                                     <input type="text" />
                                     <label htmlFor="location">Location</label>
                                     <input type="text" />
                                     <label htmlFor="employment">Employment Status</label>
                                     <input type="text" />
                                     <label htmlFor="skills">Skills</label>
                                     <input type="text" />
                                 </form>
                                 <br/>
                                 <input type="button" id="login_button" value="Save Changes" class="button-primary" onclick=""/>
                             </div>
                         </div>

            </div>
          </div>
        </div>
      </div>
  </body>
</html>
