.chatroom-container {
    padding-top: 50px;
}

.chatroom-container > * {
    margin-left: 2%;
}

.chatroom {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chatroom-background {
    width: 72vw;
    height: 80vh;
    padding-right: 2%;
}

.chatroom-card-frame {
    width: 22vw;
    background: #4f8fea;
    display: block;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    flex-direction: column;
    text-align: center;
    height: 80vh;
    /* Card Shadow */
    box-shadow: 0px 4px 8px 2px rgba(57, 53, 52, 0.2);
    border-radius: 12px;

}

.chat-messages {
    height: 52vh;
    width: 100%;
    background-color: #F3F7F9;
    overflow-y: scroll;
}

.chatroom-character {
    position: absolute;
    top: 200px;
    left: 100px;
}

@media only screen and (max-width: 768px) {
    .chatroom-card-frame {
        width: 100vw;
    }
    .chatroom-container > * {
        margin-left: 0%;
    }
}