
.home{
    display: none;
    position:relative;
    text-align: left;
}

.profile-picture {
    max-width: 30%;
    border-radius: 10000px;
}

.profile {
    position:relative;
}
.chat-button{
    margin-right: 3px;
    width: fit-content;
    background-color: #1D4FB4;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
    transition-duration: 0.4s;
}

div#bottom-container {
    display: none;
    position: absolute;
    bottom:0;
    margin-left: 0;
    /*margin-right: auto;*/
    padding: 2%;
    text-align: left;


}

.date-prompt {
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 25px;
    align-items: center;
    color: black;
}



/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 768px) {
    .profile-picture {
        float: none;
        margin: auto;
    }
}
