.registration-credentials {
    display: block;
    float: right;
    margin-left: auto;
    margin-right: 0px;
    width: 40%;
}

.registration-icon {
    display: block;
    float: left;
    margin-top: 10vh;
    margin-left: 0px;
    margin-right: auto;
    max-width: 40%;
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 768px) {
    .registration-credentials {
        display: block;
        float: initial;
        margin-top: 2vh;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .registration-icon {
        display: block;
        float: initial;
        margin-top: 5vh;
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;
    }
}
