.account-credentials {
    display: block;
    float: right;
    margin-left: auto;
    margin-right: 0px;
    width: 40%;
}

.profile-picture{
    display: block;
    float: left;
    margin-top: 5vh;
    margin-left: 50px;
    margin-right: auto;
    max-width: 40%;
    border-radius: 1000px;
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 768px) {
    .account-credentials {
        display: block;
        float: initial;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .profile-picture {
        float: none;
        margin: auto;
    }
}
