nav.navbar, .navbar-default {
  background-color: #388dc5;
  margin-bottom: 0;
  margin:0;
  padding:0;
  flex-direction: row;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  display: flex;
}
  
.navbar-default {
  background-image: none;
  border: none;
  border-radius: 5px;
  margin:0;
  padding:0;
}
  
.navbar-default .navbar-nav > li > a {
  color: white;
  margin-bottom: 0;
  position: relative;
  /*display: block;*/
  margin:0;
  padding:0;
}
  
.navbar-default .navbar-brand {
  color: white;
  margin-bottom: 0;
  margin:0;
  padding:0;
}
  
.navbar-default .navbar-toggle {
  border-color: white;
  margin-bottom: 0;
  margin:0;
  padding:0;
}
  
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
  margin:0;
  padding:0;
}
  
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
  margin-bottom: 0;
  margin:0;
  padding:0;
}
  
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: white;
  background-color: transparent;
  margin-bottom: 0;
  margin:0;
  padding:0;
}
  
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: white;
  background-color: transparent;
  margin-bottom: 0;
  margin:0;
  padding:0;
}